.outer{
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin-top: 10%;
}

.heading {
    font-weight: 900;
    font-size: x-large;
    color: #331d96;
}

.heading2{
    font-size: large;
    font-weight: 900;
    color: #331d96;
}

.normaltext{
    color: #5d5dc1;
}

.btn-primary{
    background-color: #331d96 !important;
    border-color: #331d96 !important;
    height: 50px;
    width: 150px;
}
